{
  "name": "{{&name}}",
  "version": "{{&version}}",
  "eventName": "{{&context.eventName}}",
  "sha": "{{&context.sha}}",
  "ref": "{{&context.ref}}",
  "serverUrl": "{{&context.serverUrl}}",
  "templateFile": "{{&env.INPUT_TEMPLATE-FILE}}",
  "templateEngine": "{{&env.INPUT_ENGINE}}"
}